<p>header works!</p>

<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/morrocotuda"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Morrocotuda</a
      >
    </li>
    <li>
      <a
        routerLink="/morrocotuda-txiki"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Morrocotuda Txiki</a
      >
    </li>
  </ul>
</nav>
