<div class="page__container">
  <div class="page__content">
    <app-header></app-header>
    <ng-content>
      <div>
        <h1>{{ "HELLO" | translate }}</h1>
        <p>{{ "WELCOME" | translate }}</p>
        <button (click)="switchLanguage('en-GB')">British</button>
        <button (click)="switchLanguage('es-ES')">Español</button>
        <button (click)="switchLanguage('en-US')">US</button>
      </div>
    </ng-content>

    <ng-content>
      <router-outlet></router-outlet>
    </ng-content>
  </div>
  <app-footer></app-footer>
</div>
